version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.3
    container_name: speech-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - speech_net

  kafka:
    image: confluentinc/cp-kafka:7.5.3
    container_name: speech-kafka
    depends_on:
      - zookeeper
    ports:
      - "127.0.0.1:29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://127.0.0.1:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_MESSAGE_MAX_BYTES: 2097152
      KAFKA_REPLICA_FETCH_MAX_BYTES: 2097152
    networks:
      - speech_net

  schema-registry:
    image: confluentinc/cp-schema-registry:7.5.3
    container_name: speech-schema-registry
    depends_on:
      - kafka
    ports:
      - "127.0.0.1:8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:9092
      SCHEMA_REGISTRY_COMPATIBILITY_LEVEL: BACKWARD
    networks:
      - speech_net

  asr-service:
    build:
      context: .
      dockerfile: services/asr/Dockerfile
    container_name: speech-asr-service
    depends_on:
      - schema-registry
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081
      MODEL_NAME: openai/whisper-tiny
      SCHEMA_DIR: /app/shared/schemas/avro
    networks:
      - speech_net

  translation-service:
    build:
      context: .
      dockerfile: services/translation/Dockerfile
    container_name: speech-translation-service
    depends_on:
      - schema-registry
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081
      TARGET_LANGUAGE: es
      SCHEMA_DIR: /app/shared/schemas/avro
    networks:
      - speech_net

networks:
  speech_net:
    driver: bridge
